*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-body: 'Poppins', sans-serif;
  --fs-H1: 4.5rem;
  --fs-H2: 2.75rem;
  --fs-H3: 2rem;
  --fs-H4: 2.125rem;
  --fs-H5: 1.5rem;
  --fs-H6: 1.25rem;
  --fs-body-1: 1rem;
  --fs-body-2: 0.875rem;
  --fs-caption: 0.75rem;
  --clr-primary-light: rgb(255, 255, 255);
  --clr-primary-dark: rgb(38, 38, 38);
  --fclr-primary-light: rgb(38, 38, 38);
  --fclr-primary-dark: rgb(255, 255, 255);
  --nav-background: rgb(134, 162, 194);
}
body {
  overflow-x: hidden;
  margin:0;
  background-color: var(--clr-primary-light);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
}
h1 {
  font-size: var(--fs-H1);
  font-weight: 600;
  line-height: 1.3;
  margin: 0;
}

h2 {
  font-size: var(--fs-H2);
  font-weight: 600;
  margin: 0;
}

p {
  font-size: var(--fs-body-1);
}

a {
  text-decoration: none;
}

a:visted {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
ul {
  list-style-type: none;

  margin: 0;
  padding: 0;
}
li {
    list-style: none;
    opacity:0;
    font-size: var(--fs-H6);
}
footer {
    grid-column: col-start / span 4;

  grid-row: 3 / 3;
  background-color: var(--nav-background);
  color: var(--fclr-primary-dark);
  font-size: var(--fs-body-1);
}
.container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, [col-start] 1fr);
  grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    row-gap:0;
  /* grid-template-rows: 10em 50vh, auto 10 em; */
  /*
  grid-template-areas:
    'header header header header header header header header header header header header'
    'main main main main main main main main main main main main'
    'footer footer footer footer footer footer footer footer footer footer footer footer'; */
}

.nav {
     grid-column: col-start / span 4;

  grid-row:  1/3;

  display:flex;
  height: 10vh;
position: relative;
  background-color: var(--nav-background);
  color: var(--fclr-primary-dark);
  font-size: var(--fs-body-1);
}
.nav_links, .nav_links_nav_right{
  opacity: 0;
}
.nav_links_nav_right {

}
.nav_links li,
.nav_links_nav_right li {

  opacity: 0;
  font-size: var(--fs-H6);
}



/* .content_container {
  grid-column: col-start / span 12;
  grid-row: 2 / 3;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
} */

.card_container {
    grid-column: col-start / span 4;
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: auto;
  box-shadow: 5px 5px 20px grey;
  margin: 10px;
}

.card_title {
  text-transform: uppercase;
}

.post_image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: 200ms ease-in-out;
}

.card_body {
}

.card_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.count_box {
  gap: 10px;
}

.btn {
  background: none;
  border: none;
  padding: 0;
}

.btn:hover > span,
.btn:focus > span {
  text-decoration: underline;
  color: red;
}
.material-icons.red {
  color: red;
}

.material-icons {
  color: red;
}
.material-icons:hover,
.material-icons:focus {
  cursor: pointer;
  transform: scale(0.85);
}

.material-icons:active {
  transform: scale(0.96);
}

/* #startregion mid media */
@media (min-width: 40em) {
  :root {
    --fs-H1: 6rem;
    --fs-H2: 3.75rem;
    --fs-H3: 3rem;
    --fs-H4: 2.125rem;
    --fs-H5: 1.5rem;
    --fs-H6: 1.25rem;
    --fs-body-1: 1rem;
    --fs-body-2: 0.875rem;
    --fs-caption: 0.75rem;
  }
.container{
  grid-template-rows: 8;
}
  footer {
      grid-column: col-start / span 12;
      grid-row: row-start 6/ span 8;
  }
  .nav {
    grid-column: col-start / span 12;
    grid-row: row-start  / span 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
align-content: center;


  }
.nav_links,
.nav_links_nav_right {
  opacity: 1;
justify-content: space-between;
}
  .nav_links {

    grid-column: 2 /  6;
display:flex;

  position: relative;


  }

  .nav_links_nav_right {
  grid-column: 11 /  12;

display:flex;
  align-items: center;
  }
  .nav_links li,
  .nav_links_nav_right li {

    list-style: none;
      letter-spacing: 3px;
    opacity: 1;
    font-size: var(--fs-H6);
  }

  .nav_links a,
  .nav_links_nav_right a {
    color: var(--fclr-primary-dark);
    font-size: var(--fs-body-1);
    text-decoration: none;
  }

  .nav_links a {
    letter-spacing: 3px;
  }
  .card_container {
    display: flex;
    justify-content: space-around;
  grid-row: row-start 3 / span 2;
  }

  .card {
    width: 350px;
    height: auto;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;
  }
}

/* #endregion  mid media */
/* #startregion large_media */
@media (min-width: 50em) {
  :root {
    --fs-H1: 6rem;
    --fs-H2: 3.75rem;
    --fs-H3: 3rem;
    --fs-H4: 2.125rem;
    --fs-H5: 1.5rem;
    --fs-H6: 1.25rem;
    --fs-body-1: 1rem;
    --fs-body-2: 0.875rem;
    --fs-caption: 0.75rem;
  }
}

/* #endregion large_media */
/* 40 em = 640 px
50em = 960px */
