/* librarys
#918676
#524B42
#D1C1A9
#DECDB4
#B8AA95
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  --primary: #5f7994;
  --secondary: #7090ba;
  --additional: #96c1fa;
  --more: #232d3b;
  --added: #87aee0;
  --error: #ff4a4a;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

/* body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
} */
/* #7090BA #495F7A , #96C1FA  232D3B #87AEE0 */
.App {
  min-height: 100vh;
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
  background: #5f7994;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  height: 20vh;
  align-items: center;
  background: #374757;
  color: white;
}
.nav_left {
  display: inline-block;
}
.nav_right {
  display: inline-block;
  margin-bottom: none;
  margin-left: auto;
}
.nav-links {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: white;
}
.navbar a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: white;
}
.navbar p {
  display: inline-block;
}
.navbar-image {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

button:hover {
  transform: scale(0.98);
}
.footer {
  position: absolute;

  bottom: 0;
}
/* .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
form {
  width: 50%;
}
input[type='text'] {
  border: 1px solid;
  width: 50%;
  padding: 5px 10px;
  margin: 5px 0;
  box-sizing: border-box;
}
h1,
title {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
}
h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
}
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
h2 {
  font-style: normal;
  font-weight: default;
  font-size: 24px;
  line-height: 28px;
}

p {
  font-size: 16;
  margin: 16px 0;
}

img {
  width: 100%;
}

a:hover {
  border-bottom: 2px #fff solid;
}
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 10px;
}

button:hover {
  transform: scale(0.98);
}
